.camp-sessions-wave {
  background: url('../images/blue-wave.png');
  height: 40px;
  margin-top: -100px;
}
.camp-sessions {
  background-color: #0076b0;
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  h6 {
    font-family: "SourceSansPro";
    font-size: 22px;
    color: white;
    text-align: center;
  }
  p {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  ul.nav-tabs {
    border-bottom: 0px;
    margin: 50px 0px;
    li {
      width: 248px;
      height: 84px;
      &:nth-child(1) {
        margin-left: 205px;
      }
      a {
        border: none !important;
        background: none !important;
        padding-top: 0;
        color: $logo-color-white;
        font-family: $font-logo;
        span.tab-title {
          font-size: 58px;
          float: left;
        }
        span.tab-left-first {
          font-size: 30px;
          float: right;
          line-height: 17px;
          margin-top: 24px;
        }
        span.tab-left-second {
          font-size: 20px;
          float: right;
        }
      }
    }
    li.active {
      background: url('../images/tab-active.png') no-repeat;
      a {
        color: $logo-color-yellow;
      }
      a:hover {
        background-color: transparent;
        padding-top: 0;
        color: $logo-color-yellow;
      }
    }
  }
  &::after {
    background: url("../images/blue-wave.png") no-repeat 0 20px;
    content: "";
    display: block;
    height: 70px;
    margin-bottom: -57px;
    margin-top: -10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    z-index: 1;
    position: relative;
  }
}
.view-id-sessions {
  caption {
    float: left;
    width: 15%;
    margin-top: 7px;
    font-size: 22px;
    color: #f1c419;
    font-family: $font-text;
  }
  table {
    margin-bottom: 20px;
    margin-top: 20px;
    tbody {
      float: right;
      width: 85%;
      padding-left: 15px;
      tr td.activity {
        line-height: 1.42857143;
        span {
          font-size: 15px;
          &.type {
            color: #f0c419;
            text-transform: uppercase;
            font-family: $font-text;
          }
          &.level {
            color: #00496d;
            text-transform: uppercase;
            font-family: $font-text;
          }
          &.room {
            color: #f0c419;
            text-transform: uppercase;
            font-family: $font-text;
          }
        }
      }
    }
  }
}
