.camp-speakers-wave {
  background: url('../images/yellow-wave.png');
  height: 40px;
  margin-top: -115px;
}
.camp-speakers {
  padding-bottom: 150px;
  h1 {
  font-family: chinese rocks;
  color: $logo-color-white;
  font-size: 72px;
  text-align: center;
  }
  background-color: #f1c419;
  h6.speaker-description {
    font-size: 22px;
    text-align: center;
  }
  h4.speaker-description {
    font-family: $font-logo;
    font-size: 72px;
    text-align: center;
    margin-top: 45px;
    font-style: normal;
    margin-bottom: 15px;
  }
  ul li {
    list-style: none;
    text-align: center;
  }
  div.view-id-drupalcamp_products {
   font-size: 18px;
  }
  div.view-id-drupalcamp_shopping_cart_block {
    li {
      font-size: 16px; 
    }
  }
  div.view-footer {
    p {
      margin-top: 20px;
      margin-left: 41px;
    }
  }
  p.speaker-announcement {
    font-size: 24px;
    text-align: center;
  }
  
  .view-footer {
    p {
      text-align: center;
      font-size: 24px;
      margin-left: -10px;
      text-align: center;
    }
  }
  .hotel-confirm-button {
    margin-top: 40px;
  }
  h1.page-header {
    margin-top: 50px;
  }
  th.views-field {
    border: none;
    font-size: 20px;
    padding-top: 40px;
  } 
}

.tabbable {
  min-height: 500px;
}

.speaker-info {
  height: 400px;
}

.page-registration .speaker-info,
.page-registrants .speaker-info {
  height: 200px;
}

.node-product  {
    text-align: center;
    margin-top: 25px;
}

p.speaker-drupalcamp a {
  color: $logo-color-white;
}

.speaker-space-text {
  p {
    font-size: 18px;
  }
  ul li {
  text-align: left;
  list-style: disc;
  font-size: 18px;
  }
}

span.file {
  a {
    font-size: 18px;
  }
}

